<div id="sessions-loader">
    <div class="progressbar-fliplearning">
        <div class="indeterminate"></div>
    </div>
</div>

<v-app id="grades" class="fliplearning">
    <v-main>
        <pageheader :pagetitle="strings.title" :helptitle="strings.helplabel" :exitbutton="strings.exitbutton"
                    :helpcontents="get_help_content()" :groups="groups" :courseid="courseid" :userid="userid"></pageheader>
        <v-container pa-8>
            <v-row v-if="loading">
                <span class="mb-1 mt-5 body-1" v-text="strings.graph_generating"></span>
                <v-progress-linear indeterminate color="cyan"></v-progress-linear>
            </v-row>
            <div v-else>
                <v-alert v-if="errors.length > 0" dense outlined type="error" v-text="strings.api_error_network"></v-alert>

                <v-row>
                    <v-col cols="12" md="4">
                        <v-subheader v-text="strings.grades_select_label"></v-subheader>
                    </v-col>
                    <v-col cols="12" md="8">
                        <v-select
                                attach
                                :items="grades.categories"
                                item-text="name"
                                item-value="items"
                                :label="strings.grades_select_label"
                                v-model="default_category"
                                v-on:change="change_category"
                                solo
                        ></v-select>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12">
                        <v-card elevation="2">
                            <v-card-title class="justify-center">
                                <h5 v-text="strings.grades_chart_title"></h5>
                            </v-card-title>
                            <v-card-text>
                                <chart
                                        :container="'grade_items_average'"
                                        :chart="build_grade_items_average_chart()"
                                        :lang="strings.chart"
                                ></chart>
                                <span class="caption" @click="open_chart_help('grade_items_average')">
                                <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                <span v-text="strings.about"></span>
                            </span>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" md="6">
                        <v-card elevation="2">
                            <v-card-title class="justify-center">
                                <h5 v-text="grade_item_title"></h5>
                            </v-card-title>
                            <v-card-subtitle class="text-center">
                                <h6 v-text="strings.grades_details_subtitle"></h6>
                            </v-card-subtitle>
                            <v-card-text>
                                <chart
                                        :container="'item_grades_details'"
                                        :chart="build_item_grades_details_chart()"
                                        :lang="strings.chart"
                                ></chart>
                                <span class="caption" @click="open_chart_help('item_grades_details')">
                                <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                <span v-text="strings.about"></span>
                            </span>
                            </v-card-text>
                        </v-card>
                    </v-col>

                    <v-col cols="12" md="6">
                        <v-card elevation="2">
                            <v-card-title class="justify-center">
                                <h5 v-text="grade_item_title"></h5>
                            </v-card-title>
                            <v-card-subtitle class="text-center">
                                <h6 v-text="strings.grades_distribution_subtitle"></h6>
                            </v-card-subtitle>
                            <v-card-text>
                                <chart
                                        :container="'item_grades_distribution'"
                                        :chart="build_item_grades_distribution_chart()"
                                        :lang="strings.chart"
                                ></chart>
                                <span class="caption" @click="open_chart_help('item_grades_distribution')">
                                <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                <span v-text="strings.about"></span>
                            </span>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row class="justify-center">
                    <span v-text="get_timezone()"></span>
                </v-row>

                <v-row justify="center">
                    <v-col cols="12">
                        <emailform
                                :dialog="dialog"
                                :selected_users="selected_users"
                                :strings="email_strings"
                                :moduleid="moduleid"
                                :modulename="modulename"
                                :courseid="courseid"
                                :userid="userid"
                                @update_dialog="update_dialog"
                        ></emailform>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-col sm="12">
                        <helpdialog
                                :dialog="help_dialog"
                                :title="strings.helplabel"
                                :contents="help_contents"
                                :exit="strings.exitbutton"
                                @update_dialog="update_help_dialog"
                        ></helpdialog>
                    </v-col>
                </v-row>
            </div>
        </v-container>
    </v-main>
</v-app>