<div id="pd-loader">
    <div class="progress-fliplearning">
        <div class="indeterminate"></div>
    </div>
</div>

<v-app id="graph1" class="pa-2">
    <v-main>
        <chart :chart="chart" :lang="strings.chart"></chart>
    </v-main>
</v-app>