<div id="sessions-loader">
    <div class="progressbar-fliplearning">
        <div class="indeterminate"></div>
    </div>
</div>

<v-app id="prueba" class="fliplearning">
    <v-main>

    </v-main>
</v-app>